* {
    /* border: 1px salmon solid; */
    box-sizing: border-box;
    font-family: "Noto Sans", "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
}


main {
    place-self: center;
    background-image: url("./img/bg5.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, 120px) 100px 100px;
    grid-template-columns: 200px repeat(5, 120px) 200px;
}

img {
    width: 100%;
    height: 100%;
}

.table {
    grid-area: 4 / 2 / 6 / 5;
}

.table img {
    width: 100%;
    height: auto;
}

.books {
    grid-area: 3 / 2 / 4 / 5;
    display: grid;
    gap: 2px;
    grid-template-columns: 
    1fr 1fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 3fr; 
    grid-template-rows: repeat(5, 1fr);
    align-items: end;
}

/* Would love to know a better way to do this */
.book {
    width: 100%;
}

.book img {
    place-self: end;
    /* border: 2px black solid; */
}

.book img:hover {
    filter: brightness(1.5); 
}

.book img:active {
    filter: brightness(2); 
}

/* Yikes so much transform */
.bk1,
.bk2,
.bk5,
.bk6,
.bk7 {
    grid-row: 1 / 6;
}

.bk2 {
    grid-column: 2;
}

.bk3 {
    grid-row: 5 / 6;
    grid-column: 3 / 7;
    /* Otherwise bk4 will always be selected */
    z-index: 2;
}

.bk4 {
    grid-row: 4 / 6;
    grid-column: 3 / 7;
    transform: translate(21px, -15px);
}

.bk4.bottom {
    transform: translate(15px, 12px);
    z-index: 3;
}

.bk5 {
    grid-column: 7; 
}

.bk5 {
    grid-column: 8; 
}

.bk6 {
    grid-column: 9;
}

.bk7 {
    grid-column: 10;
}

.plant {
    grid-area: 4 / 5 / 6 / 7;
}

/* .plant:hover {
    filter: brightness(1.1); 
}

.plant:active {
    filter: brightness(1.5);
} */

.add-book {
    grid-area: 1 / 2;
}

.add-book img {
    height: 75px;
    opacity: .8;
}

.add-book img:hover {
    opacity: 1;
}

.book-card {
    background-color: #e1e6fb;
    width: 300px;
    height: max-content;
    grid-area: 1 / 5 / 4 / 7;
    transform: translateY(40px);
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 2px;
    line-height: 2rem;
    visibility: hidden;
    z-index: 5;
}

.read-line {
    display: flex;
    flex: none;
}

.read-check {
    padding-left: 5px;
    width: 15%;
    vertical-align: middle;
    opacity: .8;
    visibility: hidden;
}

.book-options {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 5px;
}

.book-options img {
    opacity: .7;
}

.book-options img:hover {
    opacity: 1;
}

.add-form {
    grid-area: 1 / 3 / 5 / 6;
    background-color: #343a40;
    height: max-content;
    z-index: 9;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    row-gap: 2rem;
    line-height: 2rem;
    visibility: hidden;
}

.add-form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color:white;
    font-size: 1.2rem;
}

#title,
#author{
    width: 100%;
}

#year {
    width: 40%;
}

#read,
#year {
    margin-left: 10px;
}

.add-form button {
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    background: #343a40;
    color: white;
    border: 2px white solid;
    border-radius: 2px;
    padding: 10px;
}

.add-form button:hover {
    filter: brightness(1.5); 
}

.add-form button:active {
    filter: brightness(2);
}

.full-warning {
    text-transform: uppercase;
    grid-area: 2 / 2 / 3 / 6;
    align-self: center;
    justify-self: end;
    font-size: 1.8rem;
    visibility: hidden;
    z-index: 7;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/* Used to associate card with book*/
.card-index {
    display: none;
}

/* For mobile */
@media screen and (max-width: 600px) {

    .container {
        height: 100vh;
        width: 100vw;
    }

    main {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr repeat(3, 2fr) 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    /* button to call up form */
    .add-book {
        grid-area: 5 / 3;
        z-index: 15;
    }

    /* form itself */
    .add-form {
        grid-area: 1 / 2 / 4 / 5;
        transform: translateY(20px);
        row-gap: 1rem;
        line-height: 1rem;
    }

    .add-form.wide {
        grid-area: 1 / 1 / 4 / 6;
        width: calc(100vw - 20px);
        transform: translate(10px, 10px);
    }

    .books {
        grid-area: 3 / 2 / 4 / 5;
    }

    .table {
        grid-area: 4 / 2 / 6 / 5;
        z-index: 2;
    }

    .book-card {
        grid-area: 1 / 2 / 3 / 5;
        transform: translateY(40px);
    }

    .book-card.wide {
        grid-area: 1 / 1 / 3 / 6;
        width: calc(100vw - 20px);
        transform: translate(10px, 10px);
        gap: 0px;
    }

    .plant {
        grid-area: 4 / 4 / 6 / 6;
        z-index: 1;
    }

    .full-warning {
        grid-area: 2 / 2 / 2 / 5;
        justify-self: center;
    }

    .bk4 {
        transform: translate(15px, -38%);
    }
    
    .bk4.bottom {
        transform: translate(15px, 25%);
    }

}


@media (hover: none) and (orientation: landscape) {

    /* button to call up form */
    .add-book {
        grid-area: 2 / 6;
        z-index: 4;
        transform: translateX(150px);
    }

    /* form itself */
    .add-form {
        grid-area: 2 / 3 / 4 / 6;
        width: 450px;
    }

    .book-card {
        grid-area: 2 / 5 / 4 / 6;
        transform: translate(50px, 50px);
        z-index: 5;
    }

    .plant {
        grid-area: 4 / 5 / 6 / 6;
        z-index: 1;
        width: 200px;
        transform: translateX(50px);
    }

    .full-warning {
        grid-area: 2 / 3 / 2 / 6;
        justify-self: center;
    }

}